# Vercel Postgres Connection (from Vercel Dashboard)
POSTGRES_URL="postgres://default:xxx@xxx.compute.amazonaws.com:5432/verceldb?sslmode=require"
POSTGRES_URL_NON_POOLING="postgres://default:xxx@xxx.compute.amazonaws.com:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="xxx.compute.amazonaws.com"
POSTGRES_PASSWORD="xxx"
POSTGRES_DATABASE="verceldb"

# Auth
JWT_SECRET="your-secret-here"
